<!DOCTYPE html>
<html lang="mn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Хиймэл оюун ухаан ба Боловсрол</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>Хиймэл оюун ухаан ба Боловсрол</h1>
    <nav>
      <ul>
        <li><a href="#about">Танилцуулга</a></li>
        <li><a href="#lesson">Хичээл</a></li>
        <li><a href="#practice">Дадлага</a></li>
        <li><a href="#resources">Веб,аппликейшн</a></li>
        <li><a href="#project">Төсөл</a></li>
        <li><a href="#questions">Түгээмэл асуултууд</a></li>
      </ul>
    </nav>
  </header>

  <section id="about">
    <h2>Сургалтын танилцуулга</h2>
    <p>
      “AI Academy Asia” нь хиймэл оюуны боловсролыг хүртээмжтэй болгох алсын хараатайгаар энэ оны нэгдүгээр сард үүсгэн байгуулагдсан бөгөөд хувь хүн болон олон нийтийг дижитал боловсролоор чадавхжуулан, эдийн засгийн өсөлт тогтвортой хөгжилд хувь нэмэр оруулах эрхэм зорилготой ажиллаж байна. Түүнчлэн өнгөрөгч сарын 15-ны өдөр Монгол дахь НҮБ-ын Хүүхдийн Сан болон М банкны дэмжлэгтэйгээр “Үндэсний хиймэл оюуны аян”-ы нээлтийн үйл ажиллагааг зохион байгуулжээ.
 </p>
<p>
5 жилийн хугацаанд 2,250 багш
Тус хөтөлбөр нь Монгол Улсын хэмжээнд таван жилийн хугацаанд есөн дүүрэг, 21 аймаг, 330 сумыг хамруулж, нийт 2,250 хиймэл оюуны багш бэлтгэх зорилготой. Харин энэ онд 450 багшийг хамруулахаар хөтөлбөрийн эхний шатыг амжилттай эхлүүллээ.

AI Academy Asia нь багш нарыг технологийн салбарт чадавхжуулж, хиймэл оюуны шинэ эриний сурагчдад сургалт явуулах өндөр мэдлэг, ур чадвартай болгохоор зорьж буй.
 </p>
<p>
Сургалтын бүтэц ба шаардлага
Хөтөлбөрийн хүрээнд багш нар зургаан сарын хугацаанд цахим болон танхим хосолсон сургалтад хамрагдах бөгөөд энэ нь гурван сарын эрчимжүүлсэн сургалт, гурван сарын бататгах сургалт гэсэн хоёр үе шаттай. Хөтөлбөрт оролцохын тулд дараах шаардлагуудыг хангасан байна. Үүнд:

 <li> Монгол Улсын ЕБС-д мэдээлэл зүй, математикийн чиглэлийн хичээл заадаг байх</li>
 <li> Мэдээлэл технологийн суурь мэдлэгтэй, багаар ажиллах чадвартай </li>
 <li> Цахим сургалтад идэвхтэй оролцох чадвартай </li>
 <li> Англи хэлний дундаас дээш түвшний мэдлэгтэй </li>
 <li> Зургаан сарын хугацаанд хөтөлбөрт тогтмол хамрагдах боломжтой </li>
 <li> Сурсан мэдлэгээ сурагчдадаа түгээх чин хүсэл эрмэлзэлтэй</li> 
</p>
<p>
Хөтөлбөрийн үр дүн ба ирээдүйн боломж
Энэхүү хөтөлбөрийг амжилттай дүүргэснээр оролцогч багш нар дараах ур чадваруудыг эзэмших болно:

<li> Программчлалын анхан шатны мэдлэг болон хиймэл оюуны суурь ойлголт </li>
<li> Кодгүй хиймэл оюуны хэрэгслүүдийг ашиглах чадвар </li>
<li> Хиймэл оюуныг үр дүнтэй удирдах ур чадвар </li>
<li> Хиймэл оюуны ёс зүй, хариуцлагын талаар ойлголт </li>
<li> Их дата, алгоритмын суурь ойлголт </li>
<li> Хиймэл оюуны хичээлийн хөтөлбөр, сургалтын гарын авлагатай болох </li>
    </p>
  </section>

  <section id="lesson">
    <h2>AI-г боловсролд ашиглах хичээлүүд</h2>
<p>Дараах холбоосуудыг ашиглан хияээлийн видеог үзээрэй:</p>
    <ul>
      <li><a href="https://drive.google.com/file/d/18888tyVxoHjf3KzvGlYR0wxGuCpXXTHo/view" target="_blank">Хичээл 1</a></li>
      <li><a href="https://drive.google.com/file/d/1Dywq2BHUFAAP3HOjKLDTKJWWux-s9UIP/view" target="_blank">Хичээл 2</a></li>
      <li><a href="https://drive.google.com/file/d/1Lb2gDWCAGlpMKjCyGP0bCmffHUArAzUF/view" target="_blank">Хичээл 3</a></li>
      <li><a href="https://drive.google.com/file/d/1M6Yq578djahfcIq7el7b0MGeps5lQAVT/view" target="_blank">Хичээл 4</a></li>
      <li><a href="https://drive.google.com/file/d/1FLHY3jDpn8taUYj80vG-HStafFdWfUsD/view" target="_blank">Хичээл 5</a></li>
      <li><a href="https://drive.google.com/file/d/1lDYGDy5pPJzvJo_5e0-YqzCj2X33P84Y/view" target="_blank">Хичээл 6</a></li>
      <li><a href="https://drive.google.com/file/d/1lDYGDy5pPJzvJo_5e0-YqzCj2X33P84Y/view" target="_blank">Хичээл 7</a></li>
    </ul>
  </section>

  <section id="practice">
    <h2>Дадлага ажлууд</h2>
    <p>Хичээл бүрийн дадлага ажлыг хараарай:</p>
    <ul>
 <h3>Дадлага 2 </h3>
 <p>
    AI аар Kод бичүүлэх. Дараах зааварчилгааг 4 AI өгч турших. харьцуулах. 
  </p>
 <p> 
Зааварчилгаа: Харах гэсэн товч дарахад ямар нэг (өөрт байгаа) зураг харуулах код бич.

<li> 1. https://chatgpt.com/ </li>
<li> 2. https://chat.deepseek.com/ </li>
<li> 3. https://gemini.google.com/app </li>
<li> 4. https://www.perplexity.ai/ </li>
Үр дүнг ярилцана.
  </p>
</ul>
<ul>
<h3>Дадлага 3 </h3>
<p>
Хичээл 3 дээр үзсэн Prompt бичих зарчимуудаа мөрдөж сайн муу Prompt бичиж үр дүнг нь харьцуулах. Үндсэн зарчим, жишээнүүдийг хавсаргасан.

      <li><a href="https://drive.google.com/file/d/1DsWZFbsedOgrNNuaCJEwD9zkTpMM-g5w/view" target="_blank">Prompt бичих зарчим жишээ</a></li>
      <li><a href="https://drive.google.com/file/d/16BEtRnqy5IR1f2WIG7VgXgYjutqnbpDn/view" target="_blank">Prompt бичих зарчим</a></li>
    </ul>
 </p>
</ul>
<ul>
<h3>Дадлага 4 </h3>
<p> Доорх линк рүү орж ижил төстэйг туршин үзээрэй. 
 <li><a href="https://app.heygen.com/home" target="_blank">Туршилт</a></li>
</p>
</ul>
<ul>
<h3>Дадлага 5 </h3>
<p>
Colab.research.google.com ын доорх линкээр ороод хичээл дээр үзсэн бусад кодоо ажиллуулж үзээрэй. Хичээлийг хавсралтыг доор оруулсан.
 <li><a href="https://colab.research.google.com/drive/1sS-nULiLaHe1e00FdKcXuu9ys8nBljVO?usp=sharing#scrollTo=1c1U1M9SFcM5" target="_blank">Туршилт</a></li>
 <li><a href="https://drive.google.com/file/d/1uwyLib7UwmDI4Ra61wkgZU8pFWKURhvG/view" target="_blank">Хичээлийн PPT</a></li>
</p>
</ul>
<ul>
<h3>Дадлага 6 </h3>
<p> Төстэй хэрэгсэлийг туршиж үзэх
<li><a href="https://www.canva.com" target="_blank">Canva</a></li>
<li><a href="https://www.magicschool.ai" target="_blank">Magic school</a></li>
<li><a href="https://www.teachy.app" target="_blank">Teachy</a></li>
</p>
</ul>
<ul>
<h3>Дадлага 7 </h3>
<p> 
Website хийх дадлага.
</p>
<p> 
Хичээл дээр туршсан хэсгийг давтаж туршиж болно. 
AI -аас prompt бичин код болон зааварчилгаа аван дадлага хийж болно. Ойлгохгүй байгаа зүйлээ AI -c дахин дахин асуух боломжтой.
<li>Зөвхөн HTML болон CSS ашиглан web хуудас хийж ажиллуулах. 
(Vibe coding буюу AI аар кодоо бичүүлж, зааварчилгаа авах)</li>
<li>Python Flask ашиглан web хуудас хийж ажиллуулах. (Vibe coding буюу AI аар кодоо бичүүлж, зааварчилгаа авах)</li>
<li>Replit.com болон үүнтэй төстэй хэрэгсэлээр хүссэн website-аа хийлгэх. (Бэлэн AI хэрэгсэл ашиглан веб хийх)</li>
</p>
</ul>
  </section>

  <section id="resources">
    <h2>Веб,аппликейшн</h2>
    <p>Хичээл дээр туршиж үзсэн хэрэгсэлүүд: 
<h3> AI Chatbot </h3>
<li><a href="https://www.perplexity.ai/" target="_blank">Perplexity</a></li>
<li><a href="https://chat.deepseek.com/" target="_blank">Deepseek</a></li>
<li><a href="https://gemini.google.com/app/f6e6bed43ac72af3" target="_blank">Gemini</a></li>

<h3> Хөрвүүлэгч </h3>
<li><a href="https://chimege.com/en/" target="_blank">Chimege</a></li>
<li><a href="https://www.mergenchat.com/" target="_blank">Mergen</a></li>
<li><a href="https://play.ht/text-to-speech/mongolian/" target="_blank">Mongolian text to speech</a></li>

<h3> Багшийн ажлыг хялбарчлах апплекейшн </h3>

<li><a href="https://creator.voiceflow.com/project/684d0192fe109ae814e7a5a2/canvas/64dbb6696a8fab0013dba194" target="_blank">Миний туслах</a></li>
<li><a href="https://app.magicschool.ai/tools" target="_blank">Magic school</a></li>
<li><a href="https://www.teachy.app/home" target="_blank">Teachy</a></li>
  </section>
<section id="project">
    <h2> Төсөл </h2>
    <p>Хэрэгжүүлж болох төслийн санаа: 
<li><a href="https://creator.voiceflow.com/project/684d0192fe109ae814e7a5a2/canvas/64dbb6696a8fab0013dba194" target="_blank">Миний туслах</a></li>
  </section>
<section id="questions">
    <h2> Түгээмэл асуултууд </h2>
    <p>Асуулт, хариулт: </p>
 <img src="images/questions.jpg" alt="Questions" width="300" style="border-radius: 10px; margin-bottom: 20px;">
  </section>


  <footer>
    <p>© 2025 Хиймэл Оюун Ухаан Боловсролд</p>
  </footer>
</body>
</html>
